#noExtension.notification.is-danger.noExtension.is-hidden
  p
    | NOTE: Please install 
    a(target='_blank', href='https://github.com/ChengOrangeJu/WebExtensionWallet') WebExtensionWallet
    |  to use Neb Paste
